/* Global CSS */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

.align-right {
    text-align: right;
}

.bg-darker {
    background-color: #10121B;
}

body{
    font: bold;
    font-family: sans-serif;
}

.btm-round {
    border-radius: 0em 0em 1em 1em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.button-custom {
    border: 2px solid #58E2CC;
    border-radius: 0.8em;
}

.button-custom:hover {
    color: #fff;
    background-color: #58E2CC;
}

.card{
    background-color: #F0F3F5;
    border-radius: 1em;
    /* width: 100%; */
    margin-top: 17.5px;
    margin-bottom: 17.5px;
}

.container-card {
    max-height: 95%;
    overflow-y: auto;
}

.container-responsive {
    display: flex;
    flex-direction: column;
}

#editor-container {
    height: 70vh;
    max-height: 70vh;
}

.font-regular{
    font-family: sans-serif;
}

#editor-container {
    background-color: #1F2330;
}

#footer {
    align-content: center;
    color:#999595;
    flex: 0 1 10%;
    justify-content: center;
}

.header-row {
    background: linear-gradient(180deg, #ECFFF8 0%, #FDFDFD 100%);
    flex: 0 1 10%;
    color: #58E2CC;
    font-family: "M PLUS Rounded 1c";
    align-content: center;
    min-height: 100px;
}

.header-row > * {
    align-self: center;
}

.icon-right {
    text-align: right;
}

pre {
    margin: 0;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 0 20px;
}

#run-btn {
    box-shadow: none;
}

.row > .btn {
    width: fit-content;
}

#code-editor-form {
    background-color: inherit;
    border: none;
    color: #00A6DA;
    overflow-y: none;
    resize: none;
    width: thin;
    /* scrollbar-color: #00A6DA #919395; */
}

/* 
    The scrollbar isn't actually showing
    and I haven't figured out why
*/
#code-editor-form::-webkit-scrollbar {
    width: 12px;
}

/* #code-editor-form::-webkit-scrollbar-track {
    background: #919395;
} */

#code-editor-form::-webkit-scrollbar-thumb {
    /* background-color: #00A6DA; */
    border-radius: 20px;
    border: 3px solid #919395;
}

.text-dark {
    color: #4C5052;
}

.text-grey {
    color: #919395;
}

.text-inherit {
    color: inherit;
    font-family: inherit;
}

.title-text {
    text-align: center;
    font-size: 1.5em;
}

.top-round {
    border-radius: 1em 1em 0em 0em;
    box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.25);
}

.header-btn-group button{
    margin-right: 7px;
    font-weight: 800 !important;
}

#text-logo {
    height: 50px;
    padding-bottom: 11px;
}

#logo {
    height: 55px;
    padding-bottom: 11px;
}

#output-container {
    height: 70vh;
    max-height: 70vh;
    overflow-y: auto;
    border-radius: 0 0 1em 0;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.history-header {
    border-radius: 0 1em 0 0 !important;
}