.align-right {
    text-align: right;
}

.bg-darker {
    background-color: #10121B;
}

body{
    font: bold;
    font-family: sans-serif;
    overflow: hidden;
}

.btm-round {
    border-radius: 0em 0em 1em 1em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.button-custom {
    border: 2px solid #58E2CC;
    border-radius: 0.8em;
}

.button-custom:hover {
    color: #fff;
    background-color: #58E2CC;
}

.card{
    background-color: #F0F3F5;
    border-radius: 1em;
    /* width: 100%; */
}

.container-card {
    max-height: 95%;
    overflow-y: auto;
}

.container-responsive {
    display: flex;
    flex-direction: column;
}

.content-fill {
    flex: 1 1 auto;
}

.font-regular{
    font-family: sans-serif;
}

#editor-container {
    background-color: #1F2330;
}

#footer {
    align-content: center;
    color:#999595;
    flex: 0 1 10%;
    justify-content: center;
}

.header-row {
    background: linear-gradient(180deg, #ECFFF8 0%, #FDFDFD 100%);
    flex: 0 1 10%;
    color: #58E2CC;
    font-family: cursive;
    align-content: center;
}

.header-row > * {
    align-self: center;
}

.icon-right {
    text-align: right;
}

#run-btn {
    box-shadow: none;
}

.row > .btn {
    width: fit-content;
}

#code-editor-form {
    background-color: inherit;
    border: none;
    color: #00A6DA;
    height: 95%;
    max-height: 95%;
    overflow-y: auto;
    resize: none;
    width: thin;
    /* scrollbar-color: #00A6DA #919395; */
}

/* 
    The scrollbar isn't actually showing
    and I haven't figured out why
*/
#code-editor-form::-webkit-scrollbar {
    width: 12px;
}

/* #code-editor-form::-webkit-scrollbar-track {
    background: #919395;
} */

#code-editor-form::-webkit-scrollbar-thumb {
    /* background-color: #00A6DA; */
    border-radius: 20px;
    border: 3px solid #919395;
}

.text-dark {
    color: #4C5052;
}

.text-grey {
    color: #919395;
}

.text-inherit {
    color: inherit;
    font-family: inherit;
}

.title-text {
    text-align: center;
    font-size: 1.5em;
}

.top-round {
    border-radius: 1em 1em 0em 0em;
    box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.25);
}